doctype html
html(lang='en')
  head

    title Add news
  body
    form(method = 'post')
      div
        input(type='text', name = 'title', placeholder='Enter title')
      div
        input(type='text', name = 'author', placeholder='Enter author')
      div
        textarea(name='body', placeholder='Enter author')
      div
        button Save news
