doctype html
html(lang='en')
  head
    title List Todo
  body
    for item in todo
      h1 
      p #{item.title}
      p #{item.body}
      p #{item.status}
      div
      //- div
      //-   a(href='/news/#{item._id}') delete news
